.header {
    position: relative;
    height: 100vh;
    &__main {
        svg {
            position: absolute;
            top: 0;
            right: 0;
            width: 711px;
            height: 1466px;
        }
    }
}