.popular {
    position: relative;
    &__main {
        position: absolute;
        left: 0;
        z-index: -1;
    }
    &__top{
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding-bottom: 4.6rem;
    }
    &__link {
        display: block;
        margin: auto 0;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.3rem;
        color: #FFFFFF;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: #FFFFFF;
        }
    }
    &__item {
        margin: 0 auto;
        margin-bottom: 20.7rem;
        background-color: $main-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
        width: 117.2rem;
        height: 60.7rem;
        box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
        border-radius: 20px;
        &-img {
            width: 976px;
            height: 460px;
            border-radius: 3rem;
            text-align: center;
        }
    }
    &__columns {
        display: flex;
        text-align: center;
        justify-content: space-around;
        gap: 2rem;
    }
 
    &__column-img {
        width: 35rem;
        height: 45rem;
        object-fit: cover;
        border-radius: 2rem;
    }

}
.card-tour {
    height: 50rem;
    perspective: 150rem;
    transition: 1s all;
    position: relative;
    width: 100%;
    margin-bottom: 11rem;
        &__side {
            transition: 1s all;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            backface-visibility: hidden;
            margin: 0 auto;
            margin-bottom: 20.7rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2.5rem;
            height: 60.7rem;
            box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
            border-radius: 20px;
             &_back {
                background-color: green;
                transform: rotateY(180deg);
            }
        }
        &:hover {
            .card-tour__side_front{
                transform: rotateY(-180deg);
            }
        }
        &:hover {          
            .card-tour__side_back {
            transform: rotateY(0deg);
            }
        }
         
}