.reviews {
    margin: 80px 0 50px 0;
    // .reviews__wrapper

    &__wrapper {
    }

    // .reviews__item

    &__item {
        margin-top: 60px;
        display: flex;
        gap: 60px;
        margin-bottom: 60px;
    }

    // .reviews__img

    &__img {
    }

    // .reviews__text

    &__text {
        p {
            margin-top: 10px;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #0D0D0D;
        }
    }

    // .reviews__title

    &__title {
    
    font-weight: 700;
    font-size: 18px;
    color: #0D0D0D;
    }

    // .reviews__subtitle

    &__subtitle {
    font-weight: 500;
    font-size: 14px;
    color: #646464;
    }
}

